<form (ngSubmit)="onSubmit()">
  <div>
    <label for="code">Código</label>
    <input type="text" id="code" [(ngModel)]="product.code" name="code" required>
  </div>
  <div>
    <label for="price">Preço</label>
    <input type="number" id="price" [(ngModel)]="product.price" name="price" required>
  </div>
  <div class="full-width">
    <label for="description">Descrição</label>
    <input type="text" id="description" [(ngModel)]="product.description" name="description" required>
  </div>
  <div>
    <label for="department">Departamento</label>
    <select id="department" [(ngModel)]="product.departmentId" name="departmentId" required>
      <option *ngFor="let dept of departments" [ngValue]="dept.id">{{ dept.description }}</option>
    </select>
  </div>
  <div>
    <label for="status">Status</label>
    <select id="status" [(ngModel)]="product.status" name="status">
      <option [ngValue]="true">Ativo</option>
      <option [ngValue]="false">Inativo</option>
    </select>
  </div>
  <div class="full-width" style="display: flex; justify-content: center;">
    <button type="submit" class="button-green">Salvar</button>
    <button type="button" (click)="clearForm()" class="button-yellow">Limpar</button>
  </div>
</form>
